<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Registration</title>
    <link rel="stylesheet" href="../css/bootstrap.css" />
    <link rel="stylesheet" href="../css/stylesheet.css" />
  </head>
  <body>
    <%-include("../views/navBar.ejs")%>

    <p>I am</p>
    <div
      class="container-fluid d-flex flex-wrap flex-row justify-content-around mt-5"
    >
    <% courses.forEach((course) => { %>
      <div class="card mt-2" style="width: 18rem">
        <img
          class="card-img-top"
          src="../assets/images/<%= course.image %>"
          alt="Card image cap"
        />
          <div class="card-body">
          <h5 class="card-title"><%= course.title %></h5>
          <p class="card-text">
            <%= course.shortDescription %>
          </p>
          <a href="/course/<%= course.id %>" class="btn btn-primary">Register</a>
        </div>
      </div>
      <% }); %>
    </div>
    <script type="text/javascript" src="../assets/bootstrap.js"></script>
  </body>
</html>
